<div class="d-flex justify-content-center">
  <%= image_tag @website.image, alt: "alttext" %>
</div>
<div class="container">
  <% if @website.name == "The New York Times" %>
    <div class="d-flex justify-content-center my-3">
      <%= simple_form_for @website do |f| %>
        <%= f.input :keyword %>
        <%= f.submit "Search articles" %>
      <% end %>
    </div>
    <h4>Introduction of  <%= @website.name %></h4>
    <div class="d-flex justify-content-center">
      <p><%= @website.description %></p>
    </div>
  <% elsif @website.name == "Wikipedia" %>
    <div class="d-flex justify-content-center my-3">
      <%= simple_form_for @website do |f| %>
        <%= f.input :keyword %>
        <%= f.submit "Search an article" %>
      <% end %>
    </div>
    <h4>Introduction of  <%= @website.name %></h4>
    <div class="d-flex justify-content-center">
      <p><%= @website.description %></p>
    </div>
  <% elsif @website.name == "News API" %>
    <div class="d-flex justify-content-center my-3">
      <%= simple_form_for @website do |f| %>
        <%= f.select :keyword, options_for_select(["Japan", "United States", "Russia", "South Korea", "India", "United Kingdom", "France", "Germany", "Brazil", "Mexico", "Australia", "UAE", "Nigeria", "Canada", "Poland", "Philippines", "Malaysia", "Turkey", "Ukraine"]) %>
        <%= f.submit "Search articles" %>
      <% end %>
    </div>
    <h4>Introduction of  <%= @website.name %></h4>
    <div class="d-flex justify-content-center">
      <p><%= @website.description %></p>
    </div>
    <!--   <ul>
    <%#= @country_articles.each do |article| %>
      <li><%#= article["title"] %></li>
      <li><%#= article["description"] %></li>
    <%# end %>
    </ul> -->
    <!--   <ul>
    <%# @top_headlines.each do |headline| %>
      <li><%#= headline.title %></li>
      <li><%#= headline.description %></li>
      <li><%#= headline.url %></li>
    <%# end %>
    </ul> -->
  <% elsif @website.name == "COVID-19 Data" %>
    <div class="d-flex justify-content-center my-3">
      <%= simple_form_for @website do |f| %>
        <%= f.input :keyword, label: "Country" %>
        <%= f.submit "Search data" %>
      <% end %>
    </div>
    <h4>Introduction of <%= @website.name %></h4>
    <div class="d-flex justify-content-center">
      <p><%= @website.description %></p>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>