<h1>Test</h1>
<%# if @articles.website.name == "COVID-19 Data" %>
<%= column_chart Article.pluck(:date, :name) %>
<%#= line_chart Article.group_by_day(:date).count %>
<!-- name.to_i??
 -->
<!-- 消さないと全部出てきちゃう -->
<%# @articles.each do |article| %>
  <%#= article.date %>
  <%#= article.name %>
  <%# end %>
  <%= image_tag @photo %>
  <%# else %>
  <ul>
    <% @articles.each do |article| %>
      <!-- <h4>Title: <strong><%#= article.name %></strong></h4> -->
      <%= link_to "Title: #{article.name}", article_path(article) %>
      <li>Abstract: <%= article.content %></li>
      <%= image_tag article.image, alt: "alttext" %>
<!--       TODO, resize the photos, 場合分け　コロナは写真ないから -->
    <% end %>
  </ul>
  <%# end %>
