<h1>Search results</h1>

<% if @website.name == "COVID-19 Data" %>
  <%= link_to "Search other COVID-19 data", website_path(@website) %>
  <h3>COVID-19 Data in <%= @website.keyword.capitalize %></h3>
  <p> *If you see data which is significantly different from other observations, that's an outlier so please ignore it.</p>
  <%= column_chart @hash_confirmed, xtitle: "Date", title: "Number of confirmed cases" %>
  <%= column_chart @hash_death, xtitle: "Date", title: "Number of deaths" %>
  <%= line_chart @hash_active, xtitle: "Date", title: "Number of active patients" %>

<% else %>
  <%= link_to "Search other articles on #{@website.name}", website_path(@website) %>
  <% @articles.each do |article| %>
    <div class="card-product">
      <% if article.image == nil %>
        <div class="card-product-infos">
          <h2><%= link_to article.name, article_path(article), target: :_blank %></h2>
          <p><%= article.summary %></p>
        </div>
      <% else %>
        <%= image_tag article.image, alt: "article image", class: "card-product-image" %>
        <div class="card-product-infos">
          <h2><%= link_to article.name, article_path(article), target: :_blank %></h2>
          <p><%= article.summary %></p>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
